In [9]:
import json
import csv
import pymysql
import sqlite3
import time
import re
from tqdm import tqdm
from IPython.display import display
import os
import signal
from collections import defaultdict

### Extracting queries

In [10]:
sqlite_dbs = ['car_1', 'wine_1', 'student_1', 'inn_1', 'flight_1', 'formula_1', 'restaurants']
# sqlite_dbs = ['car_1', 'wine_1', 'student_1', 'inn_1', 'flight_1', 'formula_1']
mysql_dbs = ['advising', 'atis', 'geography', 'imdb']

independent_dbs = ['advising', 'atis', 'geography', 'restaurants', 'imdb']
spider_dbs = set(['car_1', 'wine_1', 'student_1', 'inn_1', 'flight_1', 'formula_1'])

json_data_dir = './data/json/'
csv_data_dir = './data/csv/'

In [20]:
def get_queries(db):
    # spider.json contains query for 6 different dbs
    spider = False
    if db == "spider":
        spider = True
        
    queryFile = os.path.join(json_data_dir, f'{db}.json')
                             
    # Open the JSON file and load its contents
    with open(queryFile, "r") as file:
        data = json.load(file)

    query_dict = defaultdict(list)
    for d in data:
        variables = d['variables']
        sql_queries = d['sql']

        if spider and d["sentences"][0]["database"] not in spider_dbs:
            continue

        # replacing each occurrence of a particular variable in any of the queries
        for sql_query in sql_queries:
            query = sql_query
            for var in variables:
                query = query.replace(var['name'], var['example'])
                
            if spider:
                query = re.sub(r'\( .+\.\* \)', '( * )', query)
                query_dict[d["sentences"][0]["database"]].append(query)
            else:
                query_dict[db].append(query)
    
    return query_dict

In [21]:
# Get queries for dbs in spider.json
spider_query_dict = get_queries('spider')
for db in spider_dbs:
    query_list = spider_query_dict[db]
    with open(os.path.join(csv_data_dir, f'{db}.csv'), 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(['query'])
        print(db, len(query_list))
        for query in query_list:
            writer.writerow([query])

formula_1 40
inn_1 36
car_1 45
student_1 27
flight_1 48
wine_1 41

In [22]:
# Get queries for independent dbs
for db in independent_dbs:
    query_list = get_queries(db)[db]
    with open(os.path.join(csv_data_dir, f'{db}.csv'), 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(['query'])
        print(db, len(query_list))
        for query in query_list:
            writer.writerow([query])

advising 214
atis 1134
geography 259
restaurants 23
imdb 99

In [10]:
all_queries = []

# all_queries.extend(get_queries("./atis.json"))
queries = dict()

import os
for filename in os.listdir('./data/json'):
    if filename.endswith('spider.json'):
        all_queries.extend(get_queries(f'./data/json/{filename}'))
        queries[filename] = get_queries(f'./data/json/{filename}')

    
print(len(all_queries))

['car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1']
defaultdict(<class 'int'>, {'car_1': 45})
['car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1']
defaultdict(<class 'int'>, {'car_1': 45})
45

In [14]:
len(all_queries)
for filename in os.listdir('.'):
    if filename.endswith('spider.json'):
        print(f'{filename}: {len(queries[filename])}')

spider.json: 40

In [15]:
s = set()
with open('./spider.json', 'r') as f:
    data = json.load(f)

for i in range(len(data)):
    sentences = data[i]["sentences"]
    for sentence in sentences:
        s.add(sentence["database"])

print(s)
print(len(s))

{'customers_and_addresses', 'manufacturer', 'medicine_enzyme_interaction', 'climbing', 'customers_campaigns_ecommerce', 'geo', 'department_store', 'scholar', 'riding_club', 'device', 'club_1', 'department_management', 'cre_Theme_park', 'wedding', 'behavior_monitoring', 'journal_committee', 'train_station', 'game_injury', 'flight_2', 'product_catalog', 'company_employee', 'county_public_safety', 'phone_market', 'hr_1', 'assets_maintenance', 'sakila_1', 'race_track', 'tracking_orders', 'small_bank_1', 'college_1', 'orchestra', 'hospital_1', 'performance_attendance', 'customer_complaints', 'company_1', 'pets_1', 'tracking_software_problems', 'workshop_paper', 'company_office', 'apartment_rentals', 'machine_repair', 'flight_1', 'music_2', 'customers_card_transactions', 'local_govt_and_lot', 'shop_membership', 'party_people', 'network_1', 'wta_1', 'election', 'document_management', 'poker_player', 'scientist_1', 'museum_visit', 'products_for_hire', 'movie_1', 'news_report', 'game_1', 'school_finance', 'student_assessment', 'insurance_fnol', 'local_govt_mdm', 'allergy_1', 'entrepreneur', 'storm_record', 'phone_1', 'restaurant_1', 'employee_hire_evaluation', 'concert_singer', 'election_representative', 'theme_gallery', 'cre_Docs_and_Epenses', 'singer', 'imdb', 'book_2', 'products_gen_characteristics', 'mountain_photos', 'aircraft', 'insurance_policies', 'school_bus', 'music_1', 'film_rank', 'college_3', 'program_share', 'swimming', 'college_2', 'cre_Drama_Workshop_Groups', 'gymnast', 'local_govt_in_alabama', 'sports_competition', 'voter_2', 'world_1', 'flight_4', 'yelp', 'station_weather', 'icfp_1', 'customers_and_invoices', 'perpetrator', 'gas_company', 'roller_coaster', 'culture_company', 'school_player', 'baseball_1', 'inn_1', 'car_1', 'tracking_grants_for_research', 'architecture', 'party_host', 'customers_and_products_contacts', 'tracking_share_transactions', 'course_teach', 'coffee_shop', 'dog_kennels', 'wrestler', 'musical', 'browser_web', 'entertainment_awards', 'match_season', 'farm', 'loan_1', 'student_transcripts_tracking', 'epinions_1', 'chinook_1', 'e_government', 'university_basketball', 'csu_1', 'real_estate_properties', 'student_1', 'store_product', 'wine_1', 'restaurants', 'soccer_1', 'music_4', 'soccer_2', 'protein_institute', 'flight_company', 'manufactory_1', 'decoration_competition', 'store_1', 'voter_1', 'driving_school', 'tvshow', 'activity_1', 'cre_Doc_Control_Systems', 'dorm_1', 'railway', 'customer_deliveries', 'body_builder', 'debate', 'formula_1', 'twitter_1', 'ship_1', 'cre_Doc_Template_Mgt', 'battle_death', 'bike_1', 'ship_mission', 'network_2', 'insurance_and_eClaims', 'cinema', 'academic', 'cre_Doc_Tracking_DB', 'city_record', 'solvency_ii', 'pilot_record', 'e_learning', 'candidate_poll'}
166

In [4]:
with open('./data.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['query'])
    for query in all_queries:
        writer.writerow([query])

NameError: name 'all_queries' is not defined

### Obtaining execution time

At this point, we have all the queries. Now, we write a script to run the queries one by one and store their execution times in the CSV file.

In [13]:
runtime_data_dir = "./data/runtime"

if not os.path.exists(runtime_data_dir):
    os.makedir(runtime_data_dir)

In [14]:
# excute sqlite queries
with open(os.path.join(runtime_data_dir, f'query-runtime-spider.csv'), 'w', newline='') as outfile:
    query_writer = csv.writer(outfile)
    
    for i, db in enumerate(spider_dbs):
        sqlite_file = f'./data/db/{db}.sqlite'

        connection = sqlite3.connect(sqlite_file)

        cursor = connection.cursor()

        with open(os.path.join(csv_data_dir, f'{db}.csv'), newline='') as csvfile:
            query_reader = csv.reader(csvfile)
            rows = list(query_reader)

        # Add header for the "running time" column
        if i == 0:
            rows[0].append('runtime (ms)')
            rows[0].append('db')
            rows[0].append('engine')
            query_writer.writerows(rows[0:1])

        for j, row in enumerate(rows[1:]):
            start_time = time.time()
            sql_query = row[0]
            try:
                cursor.execute(sql_query)
            except:
                print(f'Line {j+2}: {sql_query}')
                continue
            cursor.connection.commit()
            end_time = time.time()
            running_time = (end_time - start_time) * 1000
            row.append(running_time)
            row.append(db)
            row.append('sqlite')
            
            cursor.execute("PRAGMA cache_size=0;")
            cursor.connection.commit()

            query_writer.writerow(row)

        cursor.close()
        connection.close()

In [3]:
!brew services start mysql

==> Successfully started `mysql` (label: homebrew.mxcl.mysql)

In [26]:
# To create local mysql instance
# brew services start mysql
# mysql -u root
# DROP DATABASE IF EXISTS {db};
# CREATE DATABASE {db};
# USE {db};
# source /path/to/{db}.sql
# \q
# brew services stop mysql
# excute mysql queries

# Define a function to handle the timeout
def timeout_handler(signum, frame):
    raise TimeoutError("Query execution timed out")

# Set the signal alarm to trigger
signal.signal(signal.SIGALRM, timeout_handler)
    
with open(os.path.join(runtime_data_dir, f'query-runtime-atis.csv'), 'w', newline='') as outfile:
    query_writer = csv.writer(outfile)
    # query number 40 this takes forever for 'atis' 
    # query on line 40, 168 for 'geography' failed to run
    for i, db in enumerate(['atis']):
        connection = pymysql.connect(
            host='localhost',
            user='root',
            password='',
            database=db
        )
        
        cursor = connection.cursor()

        # disable caching to measure the runtime more accurately
        
        with open(os.path.join(csv_data_dir, f'{db}.csv'), newline='') as csvfile:
            query_reader = csv.reader(csvfile)
            row = next(query_reader)
            # Add header for the "running time" column
            if i == 0:
                row.append('runtime (ms)')
                row.append('db')
                row.append('engine')
                query_writer.writerows([row])

            for j, row in enumerate(query_reader):
                signal.alarm(60)  # Timeout after 60 seconds
                
                start_time = time.time()
                sql_query = row[0]
                try:
                    cursor.execute(sql_query)
                    cursor.connection.commit()
                except TimeoutError:
                    print(f'Line {j+2}: TimeoutError')
                    continue
                except:
                    print(f'Line {j+2}: {sql_query}')
                    continue
                finally:
                    signal.alarm(0)
                    connection.ping(reconnect=True) # attempt to reconnect
                
                end_time = time.time()
                running_time = (end_time - start_time) * 1000
                row.append(running_time)
                row.append(db)
                row.append('mysql')

                query_writer.writerow(row)
                
        cursor.close()
        connection.close()

Line 40: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < FLIGHTalias0.DEPARTURE_TIME ) AND DATE_DAYalias0.DAY_NUMBER = 6 AND DATE_DAYalias0.MONTH_NUMBER = 7 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) OR FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND DATE_DAYalias1.YEAR = 1991 AND DATE_DAYalias1.MONTH_NUMBER = 7 AND DATE_DAYalias1.DAY_NUMBER = 7 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "BALTIMORE" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "DENVER" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.STOPS = 0 ;
Line 46: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < 41 OR FLIGHTalias0.TIME_ELAPSED >= 60 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) AND DATE_DAYalias0.DAY_NUMBER = 13 AND DATE_DAYalias0.MONTH_NUMBER = 7 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) OR ( DATE_DAYalias0.DAY_NUMBER = day_number1 AND DATE_DAYalias0.MONTH_NUMBER = 7 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND NOT ( ( FLIGHTalias0.ARRIVAL_TIME < 41 OR FLIGHTalias0.TIME_ELAPSED >= 60 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) ) ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "ATLANTA" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "CHARLOTTE" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Line 47: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < FLIGHTalias0.DEPARTURE_TIME ) AND DATE_DAYalias0.DAY_NUMBER = 13 AND DATE_DAYalias0.MONTH_NUMBER = 7 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) OR FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND DATE_DAYalias1.YEAR = 1991 AND DATE_DAYalias1.MONTH_NUMBER = 7 AND DATE_DAYalias1.DAY_NUMBER = day_number1 ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "ATLANTA" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "CHARLOTTE" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Line 178: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.DEPARTURE_TIME BETWEEN 0 AND 1200 ) AND DATE_DAYalias0.DAY_NUMBER = 20 AND DATE_DAYalias0.MONTH_NUMBER = 1 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) OR ( DATE_DAYalias0.DAY_NUMBER = 19 AND DATE_DAYalias0.MONTH_NUMBER = 1 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND NOT ( FLIGHTalias0.DEPARTURE_TIME BETWEEN 0 AND 1200 ) ) ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "ATLANTA" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "PITTSBURGH" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME NOT BETWEEN departure_time2 AND departure_time3 ;
Line 327: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "SAN FRANCISCO" ) OR ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "OAKLAND" ) ) AND FLIGHTalias0.ARRIVAL_TIME < 1400 ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "BOSTON" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Line 411: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "BALTIMORE" ) OR ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "WASHINGTON" ) ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "BOSTON" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Line 412: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "BALTIMORE" ) OR ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "WASHINGTON" AND CITYalias2.STATE_CODE = "DC" ) ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "BOSTON" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Line 428: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "LAS VEGAS" AND DATE_DAYalias0.DAY_NUMBER = 27 AND DATE_DAYalias0.MONTH_NUMBER = 8 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND ( ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "NEW YORK" ) OR ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "MEMPHIS" ) ) ;

Line 517: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "LAS VEGAS" AND DATE_DAYalias0.DAY_NUMBER = 27 AND DATE_DAYalias0.MONTH_NUMBER = 8 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND ( ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "NEW YORK" ) OR ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "MEMPHIS" ) ) ) AND FLIGHTalias0.STOPS = 0 ;
Line 664: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < 41 OR FLIGHTalias0.TIME_ELAPSED >= 60 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) AND DATE_DAYalias0.DAY_NUMBER = 26 AND DATE_DAYalias0.MONTH_NUMBER = 7 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) OR ( DATE_DAYalias0.DAY_NUMBER = 26 AND DATE_DAYalias0.MONTH_NUMBER = 7 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND NOT ( ( FLIGHTalias0.ARRIVAL_TIME < 41 OR FLIGHTalias0.TIME_ELAPSED >= 60 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) ) ) AND ( FLIGHTalias0.ARRIVAL_TIME <= 2200 AND FLIGHTalias0.ARRIVAL_TIME >= 1800 ) ) AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "LOS ANGELES" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND ( ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "KANSAS CITY" ) OR ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "LAS VEGAS" ) ) ;
Line 683: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "BALTIMORE" ) OR ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "WASHINGTON" ) ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "BOSTON" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) AND FLIGHTalias0.DEPARTURE_TIME = ( SELECT MIN( FLIGHTalias1.DEPARTURE_TIME ) FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias3 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias4 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias5 , CITY AS CITYalias3 , CITY AS CITYalias4 , CITY AS CITYalias5 , FLIGHT AS FLIGHTalias1 WHERE ( ( FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias4.AIRPORT_CODE AND CITYalias4.CITY_CODE = AIRPORT_SERVICEalias4.CITY_CODE AND CITYalias4.CITY_NAME = "BALTIMORE" ) OR ( FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias5.AIRPORT_CODE AND CITYalias5.CITY_CODE = AIRPORT_SERVICEalias5.CITY_CODE AND CITYalias5.CITY_NAME = "WASHINGTON" ) ) AND CITYalias3.CITY_CODE = AIRPORT_SERVICEalias3.CITY_CODE AND CITYalias3.CITY_NAME = "BOSTON" AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias3.AIRPORT_CODE ) ;
Line 687: SELECT DISTINCT AIRLINEalias0.AIRLINE_CODE FROM AIRLINE AS AIRLINEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 , FLIGHT AS FLIGHTalias1 , FLIGHT AS FLIGHTalias2 WHERE ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "DALLAS" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "WASHINGTON" AND FLIGHTalias1.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias1.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND FLIGHTalias2.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias2.FROM_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "BOSTON" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) OR ( ( CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "DALLAS" AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "WASHINGTON" AND FLIGHTalias1.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias1.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND FLIGHTalias2.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias2.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "BOSTON" AND FLIGHTalias0.AIRLINE_CODE = AIRLINEalias0.AIRLINE_CODE AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ) ;
Line 789: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "BALTIMORE" ) OR ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "WASHINGTON" AND CITYalias2.STATE_CODE = "DC" ) ) AND FLIGHTalias0.ARRIVAL_TIME < 1230 ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "DENVER" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;
Line 843: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( FLIGHTalias0.AIRLINE_CODE = "NW" ) OR ( FLIGHTalias0.AIRLINE_CODE = "UA" ) ) AND ( ( FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "DENVER" ) OR ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "DENVER" ) ) ;
Line 1030: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias2 , CITY AS CITYalias0 , CITY AS CITYalias1 , CITY AS CITYalias2 , DATE_DAY AS DATE_DAYalias0 , DAYS AS DAYSalias0 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( ( ( FLIGHTalias0.ARRIVAL_TIME < 41 OR FLIGHTalias0.TIME_ELAPSED >= 60 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) AND DATE_DAYalias0.DAY_NUMBER = 23 AND DATE_DAYalias0.MONTH_NUMBER = 4 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE ) OR ( DATE_DAYalias0.DAY_NUMBER = 23 AND DATE_DAYalias0.MONTH_NUMBER = 4 AND DATE_DAYalias0.YEAR = 1991 AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND NOT ( ( FLIGHTalias0.ARRIVAL_TIME < 41 OR FLIGHTalias0.TIME_ELAPSED >= 60 ) AND FLIGHTalias0.DEPARTURE_TIME > FLIGHTalias0.ARRIVAL_TIME ) ) ) AND CITYalias2.CITY_CODE = AIRPORT_SERVICEalias2.CITY_CODE AND CITYalias2.CITY_NAME = "WASHINGTON" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias2.AIRPORT_CODE ) AND ( ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "DENVER" ) OR ( FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "MIAMI" ) ) ;

Line 1057: SELECT DISTINCT FLIGHTalias0.FLIGHT_ID FROM AIRPORT_SERVICE AS AIRPORT_SERVICEalias0 , AIRPORT_SERVICE AS AIRPORT_SERVICEalias1 , CITY AS CITYalias0 , CITY AS CITYalias1 , DATE_DAY AS DATE_DAYalias0 , DATE_DAY AS DATE_DAYalias1 , DAYS AS DAYSalias0 , DAYS AS DAYSalias1 , FLIGHT AS FLIGHTalias0 WHERE ( ( ( FLIGHTalias0.AIRLINE_CODE = "AA" ) AND ( ( FLIGHTalias0.FLIGHT_DAYS = DAYSalias0.DAYS_CODE AND DAYSalias0.DAY_NAME = DATE_DAYalias0.DAY_NAME AND DATE_DAYalias0.YEAR = 1991 AND DATE_DAYalias0.MONTH_NUMBER = 7 AND DATE_DAYalias0.DAY_NUMBER = 26 ) OR ( FLIGHTalias0.FLIGHT_DAYS = DAYSalias1.DAYS_CODE AND DAYSalias1.DAY_NAME = DATE_DAYalias1.DAY_NAME AND DATE_DAYalias1.YEAR = 1991 AND DATE_DAYalias1.MONTH_NUMBER = 7 AND DATE_DAYalias1.DAY_NUMBER = 26 ) ) ) AND CITYalias1.CITY_CODE = AIRPORT_SERVICEalias1.CITY_CODE AND CITYalias1.CITY_NAME = "PHOENIX" AND FLIGHTalias0.TO_AIRPORT = AIRPORT_SERVICEalias1.AIRPORT_CODE ) AND CITYalias0.CITY_CODE = AIRPORT_SERVICEalias0.CITY_CODE AND CITYalias0.CITY_NAME = "MILWAUKEE" AND FLIGHTalias0.FROM_AIRPORT = AIRPORT_SERVICEalias0.AIRPORT_CODE ;

In [ ]:
!brew services stop mysql

In [27]:
# Merge all the runtime files
dbs = ['advising', 'atis', 'geography', 'restaurants', 'imdb', 'spider']

output_file = os.path.join(runtime_data_dir, f'query-runtime-all.csv')

# Open the output CSV file in write mode
with open(output_file, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)

    # Iterate over each input file
    for i, db in enumerate(dbs):
        input_file = os.path.join(runtime_data_dir, f'query-runtime-{db}.csv')
        # Open the input CSV file
        with open(input_file, 'r', newline='') as infile:
            reader = csv.reader(infile)
            
            header = next(reader)
            if i == 0:
                writer.writerow(header)
                
            # Iterate over each row in the input file
            for row in reader:
                # Write the row to the output CSV file
                writer.writerow(row)

print("Concatenation complete")

Concatenation complete

In [35]:
import pandas as pd
df = pd.read_csv(os.path.join(runtime_data_dir, f'query-runtime-all.csv'))
print(df.head)
print(df.isnull().any())

<bound method NDFrame.head of                                                   query  runtime (ms)  \
0     SELECT DISTINCT COURSEalias0.ADVISORY_REQUIREM...      8.092165
1     SELECT DISTINCT COURSEalias0.DEPARTMENT , COUR...      0.772238
2     SELECT DISTINCT COURSEalias0.DEPARTMENT , COUR...      0.530958
3     SELECT COUNT( * ) > 0 FROM COURSE AS COURSEali...     92.988014
4     SELECT DISTINCT COURSEalias0.DEPARTMENT , COUR...      1.093864
...                                                 ...           ...
1910  SELECT MAX( RESULTSalias0.FASTESTLAPSPEED ) , ...      1.104116
1911  SELECT AVG( RESULTSalias0.FASTESTLAPSPEED ) , ...      1.092196
1912  SELECT COUNT( * ) , DRIVERSalias0.DRIVERID , D...     16.340971
1913  SELECT COUNT( * ) , DRIVERSalias0.DRIVERID FRO...     15.832901
1914  SELECT DRIVERSalias0.DRIVERID , DRIVERSalias0....     17.425776

             db  engine
0      advising   mysql
1      advising   mysql
2      advising   mysql
3      advising   mysql
4      advising   mysql
...         ...     ...
1910  formula_1  sqlite
1911  formula_1  sqlite
1912  formula_1  sqlite
1913  formula_1  sqlite
1914  formula_1  sqlite

[1915 rows x 4 columns]>
query           False
runtime (ms)    False
db              False
engine          False
dtype: bool