In [1]:
import json
import csv
import pymysql
import sqlite3
import time
import re
from tqdm import tqdm
from IPython.display import display
import os
import signal
from collections import defaultdict

### Extracting queries

In [2]:
sqlite_dbs = ['car_1', 'wine_1', 'student_1', 'inn_1', 'flight_1', 'formula_1', 'restaurants']
# sqlite_dbs = ['car_1', 'wine_1', 'student_1', 'inn_1', 'flight_1', 'formula_1']
mysql_dbs = ['advising', 'atis', 'geography', 'imdb']

independent_dbs = ['advising', 'atis', 'geography', 'restaurants', 'imdb']
spider_dbs = set(['car_1', 'wine_1', 'student_1', 'inn_1', 'flight_1', 'formula_1'])

json_data_dir = './data/json/'
csv_data_dir = './data/csv/'

In [20]:
def get_queries(db):
    # spider.json contains query for 6 different dbs
    spider = False
    if db == "spider":
        spider = True
        
    queryFile = os.path.join(json_data_dir, f'{db}.json')
                             
    # Open the JSON file and load its contents
    with open(queryFile, "r") as file:
        data = json.load(file)

    query_dict = defaultdict(list)
    for d in data:
        variables = d['variables']
        sql_queries = d['sql']

        if spider and d["sentences"][0]["database"] not in spider_dbs:
            continue

        # replacing each occurrence of a particular variable in any of the queries
        for sql_query in sql_queries:
            query = sql_query
            for var in variables:
                query = query.replace(var['name'], var['example'])
                
            if spider:
                query = re.sub(r'\( .+\.\* \)', '( * )', query)
                query_dict[d["sentences"][0]["database"]].append(query)
            else:
                query_dict[db].append(query)
    
    return query_dict

In [21]:
# Get queries for dbs in spider.json
spider_query_dict = get_queries('spider')
for db in spider_dbs:
    query_list = spider_query_dict[db]
    with open(os.path.join(csv_data_dir, f'{db}.csv'), 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(['query'])
        print(db, len(query_list))
        for query in query_list:
            writer.writerow([query])

formula_1 40
inn_1 36
car_1 45
student_1 27
flight_1 48
wine_1 41

In [22]:
# Get queries for independent dbs
for db in independent_dbs:
    query_list = get_queries(db)[db]
    with open(os.path.join(csv_data_dir, f'{db}.csv'), 'w', newline='') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(['query'])
        print(db, len(query_list))
        for query in query_list:
            writer.writerow([query])

advising 214
atis 1134
geography 259
restaurants 23
imdb 99

In [10]:
all_queries = []

# all_queries.extend(get_queries("./atis.json"))
queries = dict()

import os
for filename in os.listdir('./data/json'):
    if filename.endswith('spider.json'):
        all_queries.extend(get_queries(f'./data/json/{filename}'))
        queries[filename] = get_queries(f'./data/json/{filename}')

    
print(len(all_queries))

['car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1']
defaultdict(<class 'int'>, {'car_1': 45})
['car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1', 'car_1']
defaultdict(<class 'int'>, {'car_1': 45})
45

In [14]:
len(all_queries)
for filename in os.listdir('.'):
    if filename.endswith('spider.json'):
        print(f'{filename}: {len(queries[filename])}')

spider.json: 40

In [15]:
s = set()
with open('./spider.json', 'r') as f:
    data = json.load(f)

for i in range(len(data)):
    sentences = data[i]["sentences"]
    for sentence in sentences:
        s.add(sentence["database"])

print(s)
print(len(s))

{'customers_and_addresses', 'manufacturer', 'medicine_enzyme_interaction', 'climbing', 'customers_campaigns_ecommerce', 'geo', 'department_store', 'scholar', 'riding_club', 'device', 'club_1', 'department_management', 'cre_Theme_park', 'wedding', 'behavior_monitoring', 'journal_committee', 'train_station', 'game_injury', 'flight_2', 'product_catalog', 'company_employee', 'county_public_safety', 'phone_market', 'hr_1', 'assets_maintenance', 'sakila_1', 'race_track', 'tracking_orders', 'small_bank_1', 'college_1', 'orchestra', 'hospital_1', 'performance_attendance', 'customer_complaints', 'company_1', 'pets_1', 'tracking_software_problems', 'workshop_paper', 'company_office', 'apartment_rentals', 'machine_repair', 'flight_1', 'music_2', 'customers_card_transactions', 'local_govt_and_lot', 'shop_membership', 'party_people', 'network_1', 'wta_1', 'election', 'document_management', 'poker_player', 'scientist_1', 'museum_visit', 'products_for_hire', 'movie_1', 'news_report', 'game_1', 'school_finance', 'student_assessment', 'insurance_fnol', 'local_govt_mdm', 'allergy_1', 'entrepreneur', 'storm_record', 'phone_1', 'restaurant_1', 'employee_hire_evaluation', 'concert_singer', 'election_representative', 'theme_gallery', 'cre_Docs_and_Epenses', 'singer', 'imdb', 'book_2', 'products_gen_characteristics', 'mountain_photos', 'aircraft', 'insurance_policies', 'school_bus', 'music_1', 'film_rank', 'college_3', 'program_share', 'swimming', 'college_2', 'cre_Drama_Workshop_Groups', 'gymnast', 'local_govt_in_alabama', 'sports_competition', 'voter_2', 'world_1', 'flight_4', 'yelp', 'station_weather', 'icfp_1', 'customers_and_invoices', 'perpetrator', 'gas_company', 'roller_coaster', 'culture_company', 'school_player', 'baseball_1', 'inn_1', 'car_1', 'tracking_grants_for_research', 'architecture', 'party_host', 'customers_and_products_contacts', 'tracking_share_transactions', 'course_teach', 'coffee_shop', 'dog_kennels', 'wrestler', 'musical', 'browser_web', 'entertainment_awards', 'match_season', 'farm', 'loan_1', 'student_transcripts_tracking', 'epinions_1', 'chinook_1', 'e_government', 'university_basketball', 'csu_1', 'real_estate_properties', 'student_1', 'store_product', 'wine_1', 'restaurants', 'soccer_1', 'music_4', 'soccer_2', 'protein_institute', 'flight_company', 'manufactory_1', 'decoration_competition', 'store_1', 'voter_1', 'driving_school', 'tvshow', 'activity_1', 'cre_Doc_Control_Systems', 'dorm_1', 'railway', 'customer_deliveries', 'body_builder', 'debate', 'formula_1', 'twitter_1', 'ship_1', 'cre_Doc_Template_Mgt', 'battle_death', 'bike_1', 'ship_mission', 'network_2', 'insurance_and_eClaims', 'cinema', 'academic', 'cre_Doc_Tracking_DB', 'city_record', 'solvency_ii', 'pilot_record', 'e_learning', 'candidate_poll'}
166

In [4]:
with open('./data.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['query'])
    for query in all_queries:
        writer.writerow([query])

NameError: name 'all_queries' is not defined

### Obtaining execution time

At this point, we have all the queries. Now, we write a script to run the queries one by one and store their execution times in the CSV file.

In [3]:
runtime_data_dir = "./data/runtime"

if not os.path.exists(runtime_data_dir):
    os.makedir(runtime_data_dir)

In [14]:
# excute sqlite queries
with open(os.path.join(runtime_data_dir, f'query-runtime-spider.csv'), 'w', newline='') as outfile:
    query_writer = csv.writer(outfile)
    
    for i, db in enumerate(spider_dbs):
        sqlite_file = f'./data/db/{db}.sqlite'

        connection = sqlite3.connect(sqlite_file)

        cursor = connection.cursor()

        with open(os.path.join(csv_data_dir, f'{db}.csv'), newline='') as csvfile:
            query_reader = csv.reader(csvfile)
            rows = list(query_reader)

        # Add header for the "running time" column
        if i == 0:
            rows[0].append('runtime (ms)')
            rows[0].append('db')
            rows[0].append('engine')
            query_writer.writerows(rows[0:1])

        for j, row in enumerate(rows[1:]):
            start_time = time.time()
            sql_query = row[0]
            try:
                cursor.execute(sql_query)
            except:
                print(f'Line {j+2}: {sql_query}')
                continue
            cursor.connection.commit()
            end_time = time.time()
            running_time = (end_time - start_time) * 1000
            row.append(running_time)
            row.append(db)
            row.append('sqlite')
            
            cursor.execute("PRAGMA cache_size=0;")
            cursor.connection.commit()

            query_writer.writerow(row)

        cursor.close()
        connection.close()

In [3]:
!brew services start mysql

==> Successfully started `mysql` (label: homebrew.mxcl.mysql)

In [4]:
# To create local mysql instance
# brew services start mysql
# mysql -u root
# DROP DATABASE IF EXISTS {db};
# CREATE DATABASE {db};
# USE {db};
# source /path/to/{db}.sql
# \q
# brew services stop mysql
# excute mysql queries

# Define a function to handle the timeout
def timeout_handler(signum, frame):
    raise TimeoutError("Query execution timed out")

# Set the signal alarm to trigger
signal.signal(signal.SIGALRM, timeout_handler)
    
with open(os.path.join(runtime_data_dir, f'query-runtime-spider.csv'), 'w', newline='') as outfile:
    query_writer = csv.writer(outfile)
    # query number 40 this takes forever for 'atis' 
    # query on line 40, 168 for 'geography' failed to run
    for i, db in enumerate(['car_1', 'student_1', 'inn_1', 'formula_1', 'restaurants']):
        connection = pymysql.connect(
            host='localhost',
            user='root',
            password='',
            database=db
        )
        
        cursor = connection.cursor()
        
        cursor.execute("SET sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));")
        cursor.connection.commit()
            
        # disable caching to measure the runtime more accurately
        
        with open(os.path.join(csv_data_dir, f'{db}.csv'), newline='') as csvfile:
            query_reader = csv.reader(csvfile)
            row = next(query_reader)
            # Add header for the "running time" column
            if i == 0:
                row.append('runtime (ms)')
                row.append('db')
                row.append('engine')
                query_writer.writerows([row])

            for j, row in enumerate(query_reader):
                signal.alarm(60)  # Timeout after 60 seconds
                
                start_time = time.time()
                sql_query = row[0]
                try:
                    cursor.execute(sql_query)
                    cursor.connection.commit()
                except TimeoutError:
                    print(f'Line {j+2}: TimeoutError')
                    continue
                except:
                    print(f'Line {j+2}: {sql_query}')
                    continue
                finally:
                    signal.alarm(0)
                    connection.ping(reconnect=True) # attempt to reconnect
                
                end_time = time.time()
                running_time = (end_time - start_time) * 1000
                row.append(running_time)
                row.append(db)
                row.append('mysql')

                query_writer.writerow(row)
                
        cursor.close()
        connection.close()

Line 12: SELECT COUNTRIESalias0.COUNTRYNAME FROM CAR_MAKERS AS CAR_MAKERSalias0 JOIN COUNTRIES AS COUNTRIESalias0 ON COUNTRIESalias0.COUNTRYID = CAR_MAKERSalias0.COUNTRY GROUP BY CAR_MAKERSalias0.COUNTRY ORDER BY COUNT ( * ) DESC LIMIT 1 ;
Line 13: SELECT CAR_MAKERSalias0.FULLNAME , CAR_MAKERSalias0.ID , COUNT ( * ) FROM MODEL_LIST AS MODEL_LISTalias0 JOIN CAR_MAKERS AS CAR_MAKERSalias0 ON MODEL_LISTalias0.MAKER = CAR_MAKERSalias0.ID GROUP BY CAR_MAKERSalias0.ID ;
Line 39: SELECT COUNT( * ) FROM ( SELECT COUNT( * ) , COUNTRIESalias0.COUNTRYID FROM COUNTRIES AS COUNTRIESalias0 JOIN CAR_MAKERS AS CAR_MAKERSalias0 ON COUNTRIESalias0.COUNTRYID = CAR_MAKERSalias0.COUNTRY GROUP BY COUNTRIESalias0.COUNTRYID HAVING COUNT( * ) > 2 ) ;
Line 6: SELECT DISTINCT DRIVERSalias0.FORENAME , DRIVERSalias0.SURNAME FROM DRIVERS AS DRIVERSalias0 JOIN LAPTIMES AS LAPTIMESalias0 ON LAPTIMESalias0.DRIVERID = DRIVERSalias0.DRIVERID WHERE LAPTIMESalias0.MILLISECONDS < 93000 ;
Line 7: SELECT DISTINCT DRIVERSalias0.DRIVERID , DRIVERSalias0.NATIONALITY FROM DRIVERS AS DRIVERSalias0 JOIN LAPTIMES AS LAPTIMESalias0 ON LAPTIMESalias0.DRIVERID = DRIVERSalias0.DRIVERID WHERE LAPTIMESalias0.MILLISECONDS > 100000 ;
Line 8: SELECT DRIVERSalias0.FORENAME , DRIVERSalias0.SURNAME FROM DRIVERS AS DRIVERSalias0 JOIN LAPTIMES AS LAPTIMESalias0 ON LAPTIMESalias0.DRIVERID = DRIVERSalias0.DRIVERID ORDER BY LAPTIMESalias0.MILLISECONDS LIMIT 1 ;
Line 9: SELECT DRIVERSalias0.DRIVERID , DRIVERSalias0.SURNAME FROM DRIVERS AS DRIVERSalias0 JOIN LAPTIMES AS LAPTIMESalias0 ON LAPTIMESalias0.DRIVERID = DRIVERSalias0.DRIVERID ORDER BY LAPTIMESalias0.MILLISECONDS DESC LIMIT 1 ;
Line 10: SELECT DRIVERSalias0.DRIVERID , DRIVERSalias0.FORENAME , DRIVERSalias0.SURNAME FROM DRIVERS AS DRIVERSalias0 JOIN LAPTIMES AS LAPTIMESalias0 ON LAPTIMESalias0.DRIVERID = DRIVERSalias0.DRIVERID WHERE POSITION = "1" GROUP BY DRIVERSalias0.DRIVERID HAVING COUNT( * ) >= 2 ;
Line 11: SELECT COUNT( * ) FROM RESULTS AS RESULTSalias0 JOIN RACES AS RACESalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID WHERE RACESalias0.NAME = "Australian Grand Prix" AND RACESalias0.YEAR = 2009 ;
Line 12: SELECT COUNT( DISTINCT DRIVERID ) FROM RESULTS AS RESULTSalias0 WHERE RACEID NOT IN ( SELECT RACEID FROM RACES AS RACESalias0 WHERE RACESalias0.YEAR != 2009 ) ;
Line 13: SELECT RACESalias0.NAME , RACESalias0.YEAR FROM RESULTS AS RESULTSalias0 JOIN RACES AS RACESalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID JOIN DRIVERS AS DRIVERSalias0 ON RESULTSalias0.DRIVERID = DRIVERSalias0.DRIVERID WHERE DRIVERSalias0.FORENAME = "Lewis" ;
Line 15: SELECT DRIVERSalias0.FORENAME , RESULTSalias0.DRIVERID FROM RACES AS RACESalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID JOIN DRIVERS AS DRIVERSalias0 ON RESULTSalias0.DRIVERID = DRIVERSalias0.DRIVERID WHERE RACESalias0.NAME = "Australian Grand Prix" INTERSECT SELECT DRIVERSalias1.FORENAME , RESULTSalias1.DRIVERID FROM RACES AS RACESalias1 JOIN RESULTS AS RESULTSalias1 ON RESULTSalias1.RACEID = RACESalias1.RACEID JOIN DRIVERS AS DRIVERSalias1 ON RESULTSalias1.DRIVERID = DRIVERSalias1.DRIVERID WHERE RACESalias1.NAME = "Chinese Grand Prix" ;
Line 16: SELECT DRIVERSalias0.FORENAME , DRIVERSalias0.SURNAME FROM RACES AS RACESalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID JOIN DRIVERS AS DRIVERSalias0 ON RESULTSalias0.DRIVERID = DRIVERSalias0.DRIVERID WHERE RACESalias0.NAME = "Australian Grand Prix" EXCEPT SELECT DRIVERSalias1.FORENAME , DRIVERSalias1.SURNAME FROM RACES AS RACESalias1 JOIN RESULTS AS RESULTSalias1 ON RESULTSalias1.RACEID = RACESalias1.RACEID JOIN DRIVERS AS DRIVERSalias1 ON RESULTSalias1.DRIVERID = DRIVERSalias1.DRIVERID WHERE RACESalias1.NAME = "Chinese Grand Prix" ;
Line 17: SELECT DISTINCT DRIVERSalias0.FORENAME FROM DRIVERS AS DRIVERSalias0 JOIN DRIVERSTANDINGS AS DERIVED_TABLEalias0 ON DRIVERSalias0.DRIVERID = DERIVED_TABLEalias0.DRIVERID WHERE DERIVED_TABLEalias0.POSITION = 1 AND DERIVED_TABLEalias0.WINS = 1 ;
Line 18: SELECT DISTINCT DRIVERSalias0.FORENAME FROM DRIVERS AS DRIVERSalias0 JOIN DRIVERSTANDINGS AS DERIVED_TABLEalias0 ON DRIVERSalias0.DRIVERID = DERIVED_TABLEalias0.DRIVERID WHERE DERIVED_TABLEalias0.POINTS > 20 AND DERIVED_TABLEalias0.POSITION = 1 AND DERIVED_TABLEalias0.WINS = 1 ;
Line 23: SELECT DISTINCT DRIVERID , PITSTOPSalias0.STOP FROM PITSTOPS AS PITSTOPSalias0 WHERE PITSTOPSalias0.DURATION < ( SELECT MAX( PITSTOPSalias1.DURATION ) FROM PITSTOPS AS PITSTOPSalias1 WHERE RACEID = 841 ) ;
Line 24: SELECT DISTINCT DRIVERID , PITSTOPSalias0.STOP FROM PITSTOPS AS PITSTOPSalias0 WHERE PITSTOPSalias0.DURATION > ( SELECT MIN( PITSTOPSalias1.DURATION ) FROM PITSTOPS AS PITSTOPSalias1 WHERE RACEID = 841 ) ;
Line 29: SELECT DRIVERSalias0.DRIVERID , DRIVERSalias0.FORENAME , DRIVERSalias0.SURNAME FROM DRIVERS AS DRIVERSalias0 JOIN PITSTOPS AS PITSTOPSalias0 ON PITSTOPSalias0.DRIVERID = DRIVERSalias0.DRIVERID GROUP BY DRIVERSalias0.DRIVERID HAVING COUNT( * ) > 8 UNION SELECT DRIVERSalias1.DRIVERID , DRIVERSalias1.FORENAME , DRIVERSalias1.SURNAME FROM DRIVERS AS DRIVERSalias1 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.DRIVERID = DRIVERSalias1.DRIVERID GROUP BY DRIVERSalias1.DRIVERID HAVING COUNT( * ) > 5 ;
Line 30: SELECT DRIVERSalias0.DRIVERID , DRIVERSalias0.SURNAME FROM DRIVERS AS DRIVERSalias0 JOIN PITSTOPS AS PITSTOPSalias0 ON PITSTOPSalias0.DRIVERID = DRIVERSalias0.DRIVERID GROUP BY DRIVERSalias0.DRIVERID HAVING COUNT( * ) = 11 INTERSECT SELECT DRIVERSalias1.DRIVERID , DRIVERSalias1.SURNAME FROM DRIVERS AS DRIVERSalias1 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.DRIVERID = DRIVERSalias1.DRIVERID GROUP BY DRIVERSalias1.DRIVERID HAVING COUNT( * ) > 5 ;
Line 31: SELECT DRIVERSalias0.DRIVERID , DRIVERSalias0.SURNAME FROM DRIVERS AS DRIVERSalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.DRIVERID = DRIVERSalias0.DRIVERID JOIN RACES AS RACESalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID WHERE RACESalias0.YEAR > 2010 GROUP BY DRIVERSalias0.DRIVERID ORDER BY COUNT( * ) DESC LIMIT 1 ;
Line 35: SELECT AVG( RESULTSalias0.FASTESTLAPSPEED ) FROM RACES AS RACESalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID WHERE RACESalias0.NAME = "Monaco Grand Prix" AND RACESalias0.YEAR = 2008 ;
Line 36: SELECT MAX( RESULTSalias0.FASTESTLAPSPEED ) FROM RACES AS RACESalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID WHERE RACESalias0.NAME = "Monaco Grand Prix" AND RACESalias0.YEAR = 2008 ;
Line 37: SELECT MAX( RESULTSalias0.FASTESTLAPSPEED ) , RACESalias0.NAME , RACESalias0.YEAR FROM RACES AS RACESalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID WHERE RACESalias0.YEAR > 2014 GROUP BY RACESalias0.NAME ORDER BY RACESalias0.YEAR ;
Line 38: SELECT AVG( RESULTSalias0.FASTESTLAPSPEED ) , RACESalias0.NAME , RACESalias0.YEAR FROM RACES AS RACESalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID WHERE RACESalias0.YEAR > 2014 GROUP BY RACESalias0.NAME ORDER BY RACESalias0.YEAR ;
Line 39: SELECT COUNT( * ) , DRIVERSalias0.DRIVERID , DRIVERSalias0.FORENAME FROM DRIVERS AS DRIVERSalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.DRIVERID = DRIVERSalias0.DRIVERID JOIN RACES AS RACESalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID GROUP BY DRIVERSalias0.DRIVERID HAVING COUNT( * ) >= 2 ;
Line 40: SELECT COUNT( * ) , DRIVERSalias0.DRIVERID FROM DRIVERS AS DRIVERSalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.DRIVERID = DRIVERSalias0.DRIVERID JOIN RACES AS RACESalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID GROUP BY DRIVERSalias0.DRIVERID HAVING COUNT( * ) <= 30 ;
Line 41: SELECT DRIVERSalias0.DRIVERID , DRIVERSalias0.SURNAME FROM DRIVERS AS DRIVERSalias0 JOIN RESULTS AS RESULTSalias0 ON RESULTSalias0.DRIVERID = DRIVERSalias0.DRIVERID JOIN RACES AS RACESalias0 ON RESULTSalias0.RACEID = RACESalias0.RACEID GROUP BY DRIVERSalias0.DRIVERID ORDER BY COUNT( * ) DESC LIMIT 1 ;
Line 2: SELECT COUNT( * ) FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "san francisco" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.NAME = "buttercup kitchen" ;
Line 5: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.NAME = "jamerican cuisine" ;
Line 6: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "san francisco" AND RESTAURANTalias0.FOOD_TYPE = "french" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.RATING = ( SELECT MAX( RESTAURANTalias1.RATING ) FROM LOCATION AS LOCATIONalias1 , RESTAURANT AS RESTAURANTalias1 WHERE LOCATIONalias1.CITY_NAME = "san francisco" AND RESTAURANTalias1.FOOD_TYPE = "french" AND RESTAURANTalias1.ID = LOCATIONalias1.RESTAURANT_ID ) ;
Line 7: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM GEOGRAPHIC AS GEOGRAPHICalias0 , LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE GEOGRAPHICalias0.REGION = "bay area" AND RESTAURANTalias0.CITY_NAME = GEOGRAPHICalias0.CITY_NAME AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.NAME = "denny" ;
Line 8: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "bethel island" AND LOCATIONalias0.STREET_NAME = "bethel island rd" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.RATING > 2.5 ;
Line 9: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "alameda" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID ;
Line 10: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE RESTAURANTalias0.FOOD_TYPE = "french" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.RATING > 2.5 ;
Line 11: SELECT COUNT( * ) FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "palo alto" AND RESTAURANTalias0.FOOD_TYPE = "french" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID ;
Line 13: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "mountain view" AND RESTAURANTalias0.FOOD_TYPE = "french" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID ;
Line 15: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "alameda" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.RATING > 2.5 ;
Line 16: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "san francisco" AND LOCATIONalias0.STREET_NAME = "buchanan" AND RESTAURANTalias0.FOOD_TYPE = "arabic" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.RATING > 2.5 ;
Line 17: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM GEOGRAPHIC AS GEOGRAPHICalias0 , LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE GEOGRAPHICalias0.REGION = "bay area" AND RESTAURANTalias0.CITY_NAME = GEOGRAPHICalias0.CITY_NAME AND RESTAURANTalias0.FOOD_TYPE = "french" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID ;
Line 18: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE RESTAURANTalias0.CITY_NAME IN ( SELECT GEOGRAPHICalias0.CITY_NAME FROM GEOGRAPHIC AS GEOGRAPHICalias0 WHERE GEOGRAPHICalias0.REGION = "bay area" ) AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.RATING > 2.5 ;
Line 19: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "bethel island" AND LOCATIONalias0.STREET_NAME = "bethel island rd" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID ;
Line 20: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM GEOGRAPHIC AS GEOGRAPHICalias0 , LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE GEOGRAPHICalias0.REGION = "bay area" AND RESTAURANTalias0.CITY_NAME = GEOGRAPHICalias0.CITY_NAME AND RESTAURANTalias0.FOOD_TYPE = "american" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.RATING = ( SELECT MAX( RESTAURANTalias1.RATING ) FROM GEOGRAPHIC AS GEOGRAPHICalias1 , RESTAURANT AS RESTAURANTalias1 WHERE GEOGRAPHICalias1.REGION = "bay area" AND RESTAURANTalias1.CITY_NAME = GEOGRAPHICalias1.CITY_NAME AND RESTAURANTalias1.FOOD_TYPE = "american" ) ;
Line 21: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE RESTAURANTalias0.CITY_NAME IN ( SELECT GEOGRAPHICalias0.CITY_NAME FROM GEOGRAPHIC AS GEOGRAPHICalias0 WHERE GEOGRAPHICalias0.REGION = "bay area" ) AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID ;
Line 22: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM GEOGRAPHIC AS GEOGRAPHICalias0 , LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE GEOGRAPHICalias0.REGION = "yosemite and mono lake area" AND RESTAURANTalias0.CITY_NAME = GEOGRAPHICalias0.CITY_NAME AND RESTAURANTalias0.FOOD_TYPE = "french" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.RATING > 2.5 ;
Line 23: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "mountain view" AND RESTAURANTalias0.FOOD_TYPE = "arabic" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.RATING > 2.5 ;
Line 24: SELECT LOCATIONalias0.HOUSE_NUMBER , RESTAURANTalias0.NAME FROM LOCATION AS LOCATIONalias0 , RESTAURANT AS RESTAURANTalias0 WHERE LOCATIONalias0.CITY_NAME = "san francisco" AND RESTAURANTalias0.ID = LOCATIONalias0.RESTAURANT_ID AND RESTAURANTalias0.NAME = "jamerican cuisine" ;

In [ ]:
!brew services stop mysql

In [5]:
# Merge all the runtime files
dbs = ['advising', 'atis', 'geography', 'restaurants', 'imdb', 'spider']

output_file = os.path.join(runtime_data_dir, f'query-runtime-all.csv')

# Open the output CSV file in write mode
with open(output_file, 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)

    # Iterate over each input file
    for i, db in enumerate(dbs):
        input_file = os.path.join(runtime_data_dir, f'query-runtime-{db}.csv')
        # Open the input CSV file
        with open(input_file, 'r', newline='') as infile:
            reader = csv.reader(infile)
            
            header = next(reader)
            if i == 0:
                writer.writerow(header)
                
            # Iterate over each row in the input file
            for row in reader:
                # Write the row to the output CSV file
                writer.writerow(row)

print("Concatenation complete")

Concatenation complete

In [35]:
import pandas as pd
df = pd.read_csv(os.path.join(runtime_data_dir, f'query-runtime-all.csv'))
print(df.head)
print(df.isnull().any())

<bound method NDFrame.head of                                                   query  runtime (ms)  \
0     SELECT DISTINCT COURSEalias0.ADVISORY_REQUIREM...      8.092165
1     SELECT DISTINCT COURSEalias0.DEPARTMENT , COUR...      0.772238
2     SELECT DISTINCT COURSEalias0.DEPARTMENT , COUR...      0.530958
3     SELECT COUNT( * ) > 0 FROM COURSE AS COURSEali...     92.988014
4     SELECT DISTINCT COURSEalias0.DEPARTMENT , COUR...      1.093864
...                                                 ...           ...
1910  SELECT MAX( RESULTSalias0.FASTESTLAPSPEED ) , ...      1.104116
1911  SELECT AVG( RESULTSalias0.FASTESTLAPSPEED ) , ...      1.092196
1912  SELECT COUNT( * ) , DRIVERSalias0.DRIVERID , D...     16.340971
1913  SELECT COUNT( * ) , DRIVERSalias0.DRIVERID FRO...     15.832901
1914  SELECT DRIVERSalias0.DRIVERID , DRIVERSalias0....     17.425776

             db  engine
0      advising   mysql
1      advising   mysql
2      advising   mysql
3      advising   mysql
4      advising   mysql
...         ...     ...
1910  formula_1  sqlite
1911  formula_1  sqlite
1912  formula_1  sqlite
1913  formula_1  sqlite
1914  formula_1  sqlite

[1915 rows x 4 columns]>
query           False
runtime (ms)    False
db              False
engine          False
dtype: bool