In [3]:
import json
import pymysql
from collections import defaultdict

In [1]:
dbs = ['advising', 'atis', 'geography', 'restaurants', 'imdb', 'car_1', 'student_1', 'inn_1', 'formula_1', 'yelp']

In [2]:
!brew services start mysql

==> Successfully started `mysql` (label: homebrew.mxcl.mysql)

In [4]:
table_size = defaultdict(dict)
for i, db in enumerate(dbs):
    connection = pymysql.connect(
        host='localhost',
        user='root',
        password='',
        database=db
    )
    
    cursor = connection.cursor()
        
    cursor.execute("SHOW tables;")
    cursor.connection.commit()
    
    tables = cursor.fetchall()
    tables = [table[0] for table in tables]
    
    for table in tables:
        
        cursor.execute(f'SELECT COUNT(*) FROM {table};')
        cursor.connection.commit()
        
        size = cursor.fetchall()[0][0]
        
        table_size[db][table] = size
print(table_size)

defaultdict(<class 'dict'>, {'advising': {'AREA': 76, 'COMMENT_INSTRUCTOR': 0, 'COURSE': 11453, 'COURSE_OFFERING': 151754, 'COURSE_PREREQUISITE': 43, 'COURSE_TAGS_COUNT': 0, 'GSI': 0, 'INSTRUCTOR': 9443, 'OFFERING_INSTRUCTOR': 159612, 'PROGRAM': 1, 'PROGRAM_COURSE': 39, 'PROGRAM_REQUIREMENT': 4, 'SEMESTER': 74, 'STUDENT': 11, 'STUDENT_RECORD': 86}, 'atis': {'aircraft': 43, 'airline': 46, 'airport': 52, 'airport_service': 64, 'city': 46, 'class_of_service': 19, 'code_description': 7, 'compartment_class': 6, 'date_day': 2557, 'days': 233, 'dual_carrier': 23, 'equipment_sequence': 952, 'fare': 16252, 'fare_basis': 60, 'flight': 23457, 'flight_fare': 67230, 'flight_leg': 37021, 'flight_stop': 13564, 'food_service': 374, 'ground_service': 168, 'month': 12, 'restriction': 14, 'state': 26, 'time_interval': 13, 'time_zone': 4}, 'geography': {'border_info': 218, 'city': 386, 'highlow': 51, 'lake': 32, 'mountain': 50, 'river': 149, 'state': 51}, 'restaurants': {'GEOGRAPHIC': 167, 'LOCATION': 9539, 'RESTAURANT': 9589}, 'imdb': {'actor': 2271923, 'cast': 9622097, 'classification': 2246259, 'company': 320874, 'copyright': 1242940, 'directed_by': 4882181, 'director': 590609, 'genre': 32, 'keyword': 175989, 'made_by': 6508714, 'movie': 1227117, 'producer': 993528, 'tags': 5001972, 'tv_series': 136045, 'writer': 764197, 'written_by': 4162901}, 'car_1': {'car_makers': 23, 'car_names': 406, 'cars_data': 406, 'continents': 5, 'countries': 15, 'model_list': 36}, 'student_1': {'list': 121, 'teachers': 25}, 'inn_1': {'Reservations': 600, 'Rooms': 21}, 'formula_1': {'circuits': 73, 'constructors': 208, 'constructorStandings': 11896, 'drivers': 842, 'races': 997, 'seasons': 69, 'status': 134}, 'yelp': {'business': 85899, 'category': 255697, 'checkin': 427343, 'neighborhood': 36056, 'review': 2685066, 'tip': 647767, 'user': 686110}})

In [5]:
!brew services stop mysql

Stopping `mysql`... (might take a while)
==> Successfully stopped `mysql` (label: homebrew.mxcl.mysql)

In [7]:
file_name = '../data/table_sizes.json'

with open(file_name, 'w') as json_file:
    json.dump(table_size, json_file, indent=4)

In [8]:
with open(file_name, 'r') as json_file:
    loaded_dict = json.load(json_file)

print("Loaded dictionary:", loaded_dict)

Loaded dictionary: {'advising': {'AREA': 76, 'COMMENT_INSTRUCTOR': 0, 'COURSE': 11453, 'COURSE_OFFERING': 151754, 'COURSE_PREREQUISITE': 43, 'COURSE_TAGS_COUNT': 0, 'GSI': 0, 'INSTRUCTOR': 9443, 'OFFERING_INSTRUCTOR': 159612, 'PROGRAM': 1, 'PROGRAM_COURSE': 39, 'PROGRAM_REQUIREMENT': 4, 'SEMESTER': 74, 'STUDENT': 11, 'STUDENT_RECORD': 86}, 'atis': {'aircraft': 43, 'airline': 46, 'airport': 52, 'airport_service': 64, 'city': 46, 'class_of_service': 19, 'code_description': 7, 'compartment_class': 6, 'date_day': 2557, 'days': 233, 'dual_carrier': 23, 'equipment_sequence': 952, 'fare': 16252, 'fare_basis': 60, 'flight': 23457, 'flight_fare': 67230, 'flight_leg': 37021, 'flight_stop': 13564, 'food_service': 374, 'ground_service': 168, 'month': 12, 'restriction': 14, 'state': 26, 'time_interval': 13, 'time_zone': 4}, 'geography': {'border_info': 218, 'city': 386, 'highlow': 51, 'lake': 32, 'mountain': 50, 'river': 149, 'state': 51}, 'restaurants': {'GEOGRAPHIC': 167, 'LOCATION': 9539, 'RESTAURANT': 9589}, 'imdb': {'actor': 2271923, 'cast': 9622097, 'classification': 2246259, 'company': 320874, 'copyright': 1242940, 'directed_by': 4882181, 'director': 590609, 'genre': 32, 'keyword': 175989, 'made_by': 6508714, 'movie': 1227117, 'producer': 993528, 'tags': 5001972, 'tv_series': 136045, 'writer': 764197, 'written_by': 4162901}, 'car_1': {'car_makers': 23, 'car_names': 406, 'cars_data': 406, 'continents': 5, 'countries': 15, 'model_list': 36}, 'student_1': {'list': 121, 'teachers': 25}, 'inn_1': {'Reservations': 600, 'Rooms': 21}, 'formula_1': {'circuits': 73, 'constructors': 208, 'constructorStandings': 11896, 'drivers': 842, 'races': 997, 'seasons': 69, 'status': 134}, 'yelp': {'business': 85899, 'category': 255697, 'checkin': 427343, 'neighborhood': 36056, 'review': 2685066, 'tip': 647767, 'user': 686110}}

In [ ]:
from collections import defaultdict

'''
This method is called internally by the model during testing to get the table size (equivalent to the 'table_size' column) for the query that is being tested currently in the database.
'''
def get_query_table_size(query, db):
    table_size = defaultdict()
    connection = pymysql.connect(
        host='localhost',
        user='root',
        password='',
        database=db
    )
    
    cursor = connection.cursor()
        
    cursor.execute("SHOW tables;")
    cursor.connection.commit()
    
    tables = cursor.fetchall()
    tables = [table[0] for table in tables]
    
    for table in tables:
        
        cursor.execute(f'SELECT COUNT(*) FROM {table};')
        cursor.connection.commit()
        
        size = cursor.fetchall()[0][0]
        
        table_size[table] = size        

    words = query.split()
    count = 0
    for word in words:
        count += table_size[word]

    return count